@charset "utf-8";
/* My own */
#loading {
	display: block;
	position: fixed;
	font-size: 4em;
	color:white;
	text-align: center;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	background-image: url("../images/ring.svg");
	background-repeat: no-repeat;
	background-position: center;
}

#alert{
	background-color:rgba(0,102,204, 0.8);
	font-size:1.3em;
	height:1.1em;
	display:none;
	width:100%;
	z-index:99;
	font-weight:normal;
	text-align: right;
	position:fixed;
}

#display{
	font-weight:normal;
	text-align: center;
	position: absolute;
	width:100%;
	font-weight:normal;
	top:0;
	color:black;
}

title{
  display:inline-block;
  padding-top:40px;
  padding-bottom:40px;
}

.title{
	font-weight: bold;
	font-size: 1.8em;
	width:100%;
}

#expand{
	font-weight:bolder;
	font-size:1.3em;
	width:30px;
	vertical-align: bottom;
	float:right;
	position: relative;
	top:0;
	right:0;
	height:340px;
	border-radius:0 10px 10px 0;
}
#expand:hover{
	background-color:#eee;
}

#expand > span{
	position:absolute;
    top: 50%;
    -webkit-transform: translateY( -50% );
	-ms-transform: translateY( -50% );
	transform: translateY( -50% );
}

#scroll{
	border:2px #eee solid;
	border-radius:10px 10px;
	padding:15px;
	width:450px;
	left:52%;
	position:absolute;
	height: 185px;
	overflow-y: scroll;
	padding-top:0;
}

.selected{
	background-color:#337ab7 !important;
	border-color:1px #2e6da4 solid;
}

.runable{
	float:right;
	padding:5px;
}

.dropdown{
	float:left;
}

.btn-group{
	position:static;
}

#inputXpand{
	z-index:800;
	display:none;
	float:right;
	right:0px;
}

#save, #cancel{
	margin-top:35px;
}

#run{
	position: fixed !important;
	z-index: 800;
	top:20%;
	transform: translate(-50%, -20%) !important;
	display:inline-block;
	padding-top:0;
	padding-right:0;
	height:340px;
	display:none;
}

#top{
	font-weight:bold;
	font-size:1.2em;
}

#name, #result, #log{
	font-weight:bold;
	font-size:1.2em;
}

.grid{
	padding:3px;
	border-collapse:collapse;
	border:1px black solid;
}

#hider{
	height:100%;
	width:100%;
	position: absolute;
	background-color:#595959;
	opacity:.4;
	z-index:700;
	display:none;
}

.name, .result{
	width:150px;
}
.log{
	min-width:400px;
	max-width:800px;
}

#head {
  background-color:#26355e;
  height:130px;
  width:100%;
  padding-top:38px;
  font-size:2.5em;
  color:black;
  font-weight:bolder;
  background: #003d99;
  background: -webkit-linear-gradient(45deg, #435ea3, #26355e);
  background: -moz-linear-gradient(right, #435ea3, #26355e);
  background: linear-gradient(right, #435ea3, #0047b3);
}

.content {
	padding:20px;
	background-color: white;
	border-radius: 10px;
	display:inline-block;
	max-width: 700px;
	min-width: 200px;
	margin: 15px;
  margin-top:100px;
  color:black;
  font-weight:bold;

	a{
	  color:black;
	  text-decoration:none;
	}
	a:hover, a:visited{
	  color:black;
	  cursor:pointer;
	}
}

#backdrop{
	display: block;
	position: fixed;
	font-size: 4em;
	color:white;
	text-align: center;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	display:none;
}

.center {
	text-align:center;
}

#footer{
	text-align: center;
	width: 100%;
	bottom:0;
	position:absolute;
	color:white;
	font-size:1.25em;
	margin-bottom:20px;
	font-weight: bold;
	a {
		color:white;
		-webkit-transition: color .2s;
    transition: color .2s;
	}
	a:hover{
		color:grey;
		cursor: pointer;
	}
}

#return{
	font-weight:bold;
	color:red;
	font-size:1.3em;
}

.filemanager .data li a{
	margin-left: 40px;
}

input[type="checkbox"] {
	width:1.4em;
	height:1.4em;
	margin-left:18px;
	margin-top:40px;
	z-index:10;
}

#loading span {
	margin-top: 100px;
	display: block;
}

#searchMark {
	position:fixed;
	right:50px;
	margin-top:5px;
	height:35px;
	width:35px;
	z-index:-1;
}

#searchBox, #searchcontain{
	position:fixed;
	right:50px;
}

td{
	border-collapse: collapse;
	padding:10px;
	padding-bottom:0;
}

.btn-default {
	background-color:#ddd;
	border:none;
}


.btn-success {
	padding:3px 9px;
}

.fileSelect {
	width:170px;
	text-align:center;
}

.btn-default{
	background-color:#373743;
	color:white;
	-webkit-transition: background-color .2s;
}

.btn-default:hover {
	background-color:#42424E;
	color:white;
}

@keyframes fade {
	0% { bacground-color:#373743; }
	100% { bacground-color:#42424E; }
}

/*-------------------------
	Simple reset
--------------------------*/

*{
	margin:0;
	padding:0;
}

html{
	height:100%;
}


/*-------------------------
	Demo page
-------------------------*/

body {
	background-color: #23232e;
	font: 14px normal Arial, Helvetica, sans-serif;
	z-index: -4;
	height:90%;
}


/*-------------------------
	File manager
-------------------------*/


.filemanager {
	width: 95%;
	max-width:1450px;
	position: relative;
	margin: 20px auto 50px;
}

@media all and (max-width: 965px) {
	.filemanager {
		margin: 30px auto 0;
		padding: 1px;
	}
}


/*-------------------------
	Breadcrumps
-------------------------*/


.filemanager .breadcrumbs {
	color: #ffffff;
	margin-left:20px;
	font-size: 24px;
	font-weight: 700;
	line-height: 35px;
}

.filemanager .breadcrumbs a:link, .breadcrumbs a:visited {
	color: #ffffff;
	text-decoration: none;
}

.filemanager .breadcrumbs a:hover {
	text-decoration: underline;
}

.filemanager .breadcrumbs .arrow {
	color:  #6a6a72;
	font-size: 24px;
	font-weight: 700;
	line-height: 20px;
}


/*-------------------------
	Search box
-------------------------*/

.search {
	position:absolute;
}

.filemanager .search {
	position: absolute;
	padding-right: 30px;
	cursor: pointer;
	right: 0;
	font-size: 17px;
	color: #ffffff;
	display: block;
	width: 40px;
	height: 40px;
}

.filemanager .search input[type=search] {
	border-radius: 2px;
	color: #4D535E;
	background-color: #FFF;
	width: 250px;
	height: 44px;
	margin-left: -215px;
	padding-left: 20px;
	text-decoration-color: #4d535e;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	display: none;
	outline: none;
	border: none;
	padding-right: 10px;
	-webkit-appearance: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:    #4d535e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #4d535e;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #4d535e;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #4d535e;
}


/*-------------------------
	Content area
-------------------------*/

.filemanager .data {
	margin-top: 30px;
	z-index: -3;
	max-height:70%;
	overflow-y: scroll;
}

.filemanager .data.animated {
	-webkit-animation: showSlowlyElement 400ms;
	animation: showSlowlyElement 400ms;
}

.filemanager .data li {
	border-radius: 3px;
	background-color: #373743;
	width: 337px;
	height: 118px;
	list-style-type: none;
	margin: 10px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	padding: 0.3em;
	z-index: 1;
	cursor: pointer;
	box-sizing: border-box;
	transition: 0.3s background-color;
}

.filemanager .data li:hover {
	background-color: #42424E;
}

.filemanager .data li a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.filemanager .data li .name {
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	width: 150px;
	white-space: nowrap;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	top: 40px;
}

.filemanager .data li .details {
	color: #b6c1c9;
	font-size: 13px;
	font-weight: 400;
	width: 55px;
	height: 10px;
	top: 64px;
	white-space: nowrap;
	position: absolute;
	display: inline-block;
}

.filemanager .nothingfound {
	background-color: #373743;
	width: 23em;
	height: 21em;
	margin: 0 auto;
	display: none;
	font-family: Arial;
	-webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 700ms; /* Standard syntax */
}

.filemanager .nothingfound .nofiles {
	margin: 30px auto;
	top: 3em;
	border-radius: 50%;
	position:relative;
	background-color: #d72f6e;
	width: 11em;
	height: 11em;
	line-height: 11.4em;
}
.filemanager .nothingfound .nofiles:after {
	content: '×';
	position: absolute;
	color: #ffffff;
	font-size: 14em;
	margin-right: 0.092em;
	right: 0;
}

.filemanager .nothingfound span {
	margin: 0 auto auto 6.8em;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	height: 13px;
	position: relative;
	top: 2em;
}

@media all and (max-width:965px) {

	.filemanager .data li {
		width: 100%;
		margin: 5px 0;
	}

}

/* Chrome, Safari, Opera */
@-webkit-keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}

/* Standard syntax */
@keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}


/*-------------------------
		Icons
-------------------------*/

.icon {
	font-size: 23px;
}
.icon.folder {
	display: inline-block;
	margin: 1em;
	background-color: transparent;
	overflow: hidden;
}
.icon.folder:before {
	content: '';
	float: left;
	background-color: #7ba1ad;

	width: 1.5em;
	height: 0.45em;

	margin-left: 0.07em;
	margin-bottom: -0.07em;

	border-top-left-radius: 0.1em;
	border-top-right-radius: 0.1em;

	box-shadow: 1.25em 0.25em 0 0em #7ba1ad;
}
.icon.folder:after {
	content: '';
	float: left;
	clear: left;

	background-color: #a0d4e4;
	width: 3em;
	height: 2.25em;

	border-radius: 0.1em;
}
.icon.folder.full:before {
	height: 0.55em;
}
.icon.folder.full:after {
	height: 2.15em;
	box-shadow: 0 -0.12em 0 0 #ffffff;
}

.icon.file {
	width: 2.5em;
	height: 3em;
	line-height: 3em;
	text-align: center;
	border-radius: 0.25em;
	color: #FFF;
	display: inline-block;
	margin: 0.9em 1.2em 0.8em 1.3em;
	position: relative;
	overflow: hidden;
	box-shadow: 1.74em -2.1em 0 0 #A4A7AC inset;
}
.icon.file:first-line {
	font-size: 13px;
	font-weight: 700;
}
.icon.file:after {
	content: '';
	position: absolute;
	z-index: -1;
	border-width: 0;
	border-bottom: 2.6em solid #DADDE1;
	border-right: 2.22em solid rgba(0, 0, 0, 0);
	top: -34.5px;
	right: -4px;
}

.icon.file.f-avi,
.icon.file.f-flv,
.icon.file.f-mkv,
.icon.file.f-mov,
.icon.file.f-mpeg,
.icon.file.f-mpg,
.icon.file.f-mp4,
.icon.file.f-m4v,
.icon.file.f-wmv {
	box-shadow: 1.74em -2.1em 0 0 #7e70ee inset;
}
.icon.file.f-avi:after,
.icon.file.f-flv:after,
.icon.file.f-mkv:after,
.icon.file.f-mov:after,
.icon.file.f-mpeg:after,
.icon.file.f-mpg:after,
.icon.file.f-mp4:after,
.icon.file.f-m4v:after,
.icon.file.f-wmv:after {
	border-bottom-color: #5649c1;
}

.icon.file.f-mp2,
.icon.file.f-mp3,
.icon.file.f-m3u,
.icon.file.f-wma,
.icon.file.f-xls,
.icon.file.f-xlsx {
	box-shadow: 1.74em -2.1em 0 0 #5bab6e inset;
}
.icon.file.f-mp2:after,
.icon.file.f-mp3:after,
.icon.file.f-m3u:after,
.icon.file.f-wma:after,
.icon.file.f-xls:after,
.icon.file.f-xlsx:after {
	border-bottom-color: #448353;
}

.icon.file.f-doc,
.icon.file.f-docx,
.icon.file.f-psd{
	box-shadow: 1.74em -2.1em 0 0 #03689b inset;
}

.icon.file.f-doc:after,
.icon.file.f-docx:after,
.icon.file.f-psd:after {
	border-bottom-color: #2980b9;
}

.icon.file.f-gif,
.icon.file.f-jpg,
.icon.file.f-jpeg,
.icon.file.f-pdf,
.icon.file.f-png {
	box-shadow: 1.74em -2.1em 0 0 #e15955 inset;
}
.icon.file.f-gif:after,
.icon.file.f-jpg:after,
.icon.file.f-jpeg:after,
.icon.file.f-pdf:after,
.icon.file.f-png:after {
	border-bottom-color: #c6393f;
}

.icon.file.f-deb,
.icon.file.f-dmg,
.icon.file.f-gz,
.icon.file.f-rar,
.icon.file.f-zip,
.icon.file.f-7z {
	box-shadow: 1.74em -2.1em 0 0 #867c75 inset;
}
.icon.file.f-deb:after,
.icon.file.f-dmg:after,
.icon.file.f-gz:after,
.icon.file.f-rar:after,
.icon.file.f-zip:after,
.icon.file.f-7z:after {
	border-bottom-color: #685f58;
}

.icon.file.f-html,
.icon.file.f-rtf,
.icon.file.f-xml,
.icon.file.f-xhtml {
	box-shadow: 1.74em -2.1em 0 0 #a94bb7 inset;
}
.icon.file.f-html:after,
.icon.file.f-rtf:after,
.icon.file.f-xml:after,
.icon.file.f-xhtml:after {
	border-bottom-color: #d65de8;
}

.icon.file.f-js {
	box-shadow: 1.74em -2.1em 0 0 #d0c54d inset;
}
.icon.file.f-js:after {
	border-bottom-color: #a69f4e;
}

.icon.file.f-css,
.icon.file.f-saas,
.icon.file.f-scss {
	box-shadow: 1.74em -2.1em 0 0 #44afa6 inset;
}
.icon.file.f-css:after,
.icon.file.f-saas:after,
.icon.file.f-scss:after {
	border-bottom-color: #30837c;
}


/*----------------------------
	The Demo Footer
-----------------------------*/


footer {

	width: 770px;
	font: normal 16px Arial, Helvetica, sans-serif;
	padding: 15px 35px;
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -420px;

	background-color:#1f1f1f;
	background-image:linear-gradient(to bottom, #1f1f1f, #101010);

	border-radius:2px 2px 0 0;
	box-shadow: 0 -1px 4px rgba(0,0,0,0.4);
	z-index:1;
}

footer a.tz{
	font-weight:normal;
	font-size:16px !important;
	text-decoration:none !important;
	display:block;
	margin-right: 300px;
	text-overflow:ellipsis;
	white-space: nowrap;
	color:#bfbfbf !important;
	z-index:1;
}

footer a.tz:before{
	content: '';
	background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 -53px;
	width: 138px;
	height: 20px;
	display: inline-block;
	position: relative;
	bottom: -3px;
}

footer .close{
	position: absolute;
	cursor: pointer;
	width: 8px;
	height: 8px;
	background: url('http://cdn.tutorialzine.com/misc/enhance/v2_footer_bg.png') no-repeat 0 0px;
	top:10px;
	right:10px;
	z-index: 3;
}

footer #tzine-actions{
	position: absolute;
	top: 8px;
	width: 500px;
	right: 50%;
	margin-right: -650px;
	text-align: right;
	z-index: 2;
}

footer #tzine-actions iframe{
	display: inline-block;
	height: 21px;
	width: 95px;
	position: relative;
	float: left;
	margin-top: 11px;
}

@media (max-width: 1024px) {
	#bsaHolder, footer{ display:none;}
}
